<% layout('/layouts/boilerplate') %>
    <h1>New Campground</h1>
    <form action="/campgrounds" method="POST">
        <label for="title">Title:
            <input type="text" id="title" name="campground[title]">
        </label>
        <label for="location">Location:
            <input type="text" id="location" name="campground[location]">
        </label>
        <label for="description">Description:
            <input type="text" id="description" name="campground[description]">
        </label>
        <label for="price">Price:
            <input type="text" id="price" name="campground[price]">
        </label>
        <button>Add Campground</button>
    </form>

    <a href="/campgrounds">All Campgrounds</a>